<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=""UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>KrushNet</title>
    </head>

    <body style="background-color:whitesmoke">
        <h1 style="text-align:center; color:orange">Welcome to KrushNet</h1>
        <h2 style="text-align:center; color:orange">KrushNet is KrushComics' official Network Operations Center</h2>
        <p> If you would like to learn more about KrushComics, please visit the KrushComics youtube channel</p>
        <a href="https://www.youtube.com/@KrushComics">Visit the YouTube Channel here</a>
    </body>
</html>