body {
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    color: orange;
}

h1 {
    text-align: center;
    color: orange;
}

p {
    text-align: center;
    color: orange;
}